@import "../helpers/mixins";

.stat:not(:first-child) {
  margin-left: 60px;
}

.stat span:first-child {
  color: var(--white);
  font-weight: 600;
  display: block;
  font-size: 1.4rem;
  width: fit-content;
  margin: 0 auto 4px;
}

.stat span:last-child {
  display: block;
  color: var(--stat-heading-color);
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include prefix(transform, scale(.9));
}